<div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Corsane</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a ng-href="#">Home</a></li>
            <li><a ng-href="#/submit">Submit</a></li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
            <li><a ng-href="#/search">Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Log in</a></li>
        </ul>
      </div>
    </div>
  </div>