<div class="navbar navbar-default" ng-controller="NavbarCtrl">
    <div class="container">
      
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          
          <li class="active"><a ng-href="#">Home</a></li>
            <li class="active"><a ng-href="#/submit">Submit</a></li>
            <form class="navbar-form navbar-left" role="search" >
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm">
              </div>
              <button type="submit" class="btn btn-primary" ng-click="search(searchTerm)">Search</button>
            </form>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Log in</a></li>
        </ul>
      </div>
    </div>
  </div>