  <section class="videos">
    <h2>Playlist</h2>

    <iframe width="720" height="425" src="//www.youtube.com/embed/Mr2VBRdRYak" frameborder="0" allowfullscreen></iframe>

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Resource</th>
          <th>Submitted by</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr class="info">
          <td>Grunt Demo</td>
          <td>Øyvind Hellenes</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Grunt with bower</td>
          <td>Marie Lauvås</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Introduction to Grunt</td>
          <td>Tor Barstad</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </section>