<div class="searchFilter">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-default">All</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default">Videos</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default">Articles</button>
    </div>
        <div class="btn-group">
      <button type="button" class="btn btn-default">Playlists</button>
    </div>
        <div class="btn-group">
      <button type="button" class="btn btn-default">Courses</button>
    </div>
        <div class="btn-group">
      <button type="button" class="btn btn-default">More</button>
    </div>
  </div>
</div>

<div class="searchRes" ng-controller="SearchCtrl">
  <section class="videos">
    <div ng-show="selected">
      <h3>{{selected.name}}</h3>
      <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
      <iframe width="720" height="425"  src="{{selected.url}}" frameborder="0" allowfullscreen></iframe>
    </div>
      
  </section>

  <section class="videos">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Resource</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="resource in resources">
          <td><a href="" ng-click="showResource(resource)">{{resource.name}}</a></td>
          <td>{{resource.url}}</td>
        </tr>

      </tbody>
    </table>
  </section>

</div>



